body{
    font-family: sans-serif;
    margin:0;
    background-color: rgb(238, 216, 240);
}

a {
text-decoration: none;
color:rgb(0, 0, 0);
}

h1{
  margin-left: 3%;

}

header {
    display: flex;
    height:70px;
    justify-content: space-between;
    background-color: rgb(252, 246, 246);
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.logo img {
  height:70px;
  margin-right:  10px;
}

nav a{
  font-size: 25px;
  font-weight: 700;
  padding-right: 250px;
}
nav a:hover{
  color:rgb(89, 130, 165)
}


#conteItemsCarrusel{
  height:800px;
  overflow: hidden;
}

.itemcarrusel {
  height: 100%;
  position: relative;
}

.tarjetasCarrusel {

  height: 100%;
}

.flechasCarrusel {
 background-color: rgb(129, 32, 219,);
 position: absolute;
 top:0;
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}


#tarjetasCarrusel-1{
   background: url(https://github.com/Gowniany/pokemon/blob/main/img/wallpaper-64.jpg?raw=true);
   height: 100%;
   width: 100%;
   background-size:     cover;                      /* <------ */
   background-repeat:   no-repeat;
   background-position: center center;
}

#tarjetasCarrusel-2{
  background: url(https://github.com/Gowniany/pokemon/blob/main/img/wallpaper-70.jpg?raw=true);
  height: 100%;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

#tarjetasCarrusel-3{
  background: url(https://github.com/Gowniany/pokemon/blob/main/img/wallpaper-59.jpg?raw=true);
  height: 100%;
  width: 100%;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}


.griditem {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap:  10px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 3%;
}

.griditem img{
  object-fit: cover;
  transition:  0.5s;
  object-fit:  cover;
}

.griditem img:hover{
  transform: scale(1.2);
}


#mapa h1{
  margin-left: 20px;
}

#mapa img{
  border: 4px solid black;
  margin-left: 20px;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7d45bd;
  padding: 20px;
  color: #ffffff;
}

.footer__left, .footer__center, .footer__right {
  flex-basis: 30%;
  text-align: center;
}

.footer__center {
  flex-basis: 40%;
}

.footer__right {
  display: flex;
  justify-content: flex-end;
}

.footer__right a {
  margin-left: 10px;
}

.fa-facebook, .fa-twitter, .fa-instagram {
  color: #ebe1e1;
  font-size: 20px;
}

.footertrips{
  background: #7d45bd;
  color: #ffffff;
  font-size: 20;
  font-weight: 700;
  margin: center;
  display: flex;
  justify-content: space-between;
}
